<tr data-user-id="<%= user._id %>">
    <td><%= user.email %></td>
    <td><%= user.name %></td>
    <td>
        <select class="form-select permission-select" data-original-permission="<%= user.permsLabel %>">
            <option value="admin" <%= user.permsLabel === 'admin' ? 'selected' : '' %>>Admin</option>
            <option value="editor" <%= user.permsLabel === 'editor' ? 'selected' : '' %>>Editor</option>
            <option value="user" <%= user.permsLabel === 'user' ? 'selected' : '' %>>User</option>
        </select>
    </td>
    <td>
        <button class="btn btn-danger delete-user-btn">Eliminar</button>
    </td>
</tr>
